
.item-container {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px auto;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.item-container h3 {
    margin-top: 0;
}

.item-container img {
     max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.item-container .actions {
    margin-top: 16px;
}

.item-container .actions a {
    margin-right: 8px;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.item-container .actions a:hover {
    background-color: #007bff;
    color: #fff;
}

.comments {
    margin-top: 16px;
    padding-left: 16px;
    border-left: 2px solid #ddd;
}

.comments li {
    margin-bottom: 8px;
}

h2{

}
